a {
  color: #5a6521;
  font-weight: bold;
  padding: 0px;
}
em {
  color: black;
  font-weight: bold;
  padding: 0px;
}
P {
  padding: px;
  margin-top: px;
  margin-bottom:px;
  margin-left: 20px;
  margin-right: 20px;
}
ul {
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
}
article {
padding-top: 30px;
padding-right: 30px;
padding-bottom:30px;
padding-left:30px;
display: flex;
gap:60px;
max-width: 700px;
margin-top: 30px;
margin-bottom: 30px;
margin-right: 0px;
margin-left: 15px;
}
article img {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
float: flex;
max-width: 250px;
margin-right: 10px;
margin-left: 0px;
}
article div.contenu {
  flex: 1;
}
article h5,
article h6,
article p,
article a {
  margin: -15px;
}
body {
  font-family: verdana;
  font-size: 14px;
  line-height: 2;
  margin-top: -90px;
  margin-bottom: -100px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #ffffe1;
}
header {
  background-color: #471b21;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom:30px;
  padding-left:30px;
  font-family: verdana;
  font-size: 14px;
  margin-top: 90px;
  margin-bottom: 0px;
  text-align: center;
  line-height: 2;
  color:#ffffe1;
  margin-left: -100px;
  margin-right: -100px;
}
nav {
  background-color: rgb(240, 233, 222);
  font-family: verdana;
  font-size: 14px;
  line-height: 2;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
section {
  background-color: rgb(240, 233, 222);
  font-family: verdana;
  font-size: 14px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom:30px;
  padding-left:30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
}
aside {
  background-color: rgb(240, 233, 222);
  font-family: verdana;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom:30px;
  padding-left:30px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}
footer {
  background-color: #ffffe1;
  font-family: verdana;
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 2;
  color: rgb(227, 189, 51);
  margin-left: -100px;
  margin-right: -100px;
 color: rgb(86, 0, 59)
}
h1 {
  color: rgb(47, 6, 35);
  text-align: center;
  font-size: 30px;
  line-height: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 20px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
h2 {
  font-size: 25px;
  color: rgb(47, 6, 35);
  line-height: 0px;
  margin-bottom: 0px;
  text-align: left;
  margin-left: 0px;
  padding: 20px;
}
h3 {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: left;
  color: rgb(47, 6, 35);
  margin-top: 0px;
  padding: 20px;
}
h4 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: left;
  color: rgb(47, 6, 35);
  margin-top: 0px;
  padding: 20px;
}
h5 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0px;
  text-align: left;
  color: black;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px;
}
h6 {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: left;
  color: #660033;
  margin-top: 0px;
  padding: 20px;
}
marker {
  color: black;
  font-size: 6px;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
.Z3988 {
  display: none;
}
