a {
  color: #660033;
  font-weight: bold;
  padding: 0px;
}

body {
  background-color:#ffffe1;
  font-family: verdana;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}
P {
  padding: 40px;
  margin-top: -10px;
  margin-bottom:-10px;
  margin-left: 40px;
  margin-right: 50px;
}
nav {
  background-color: rgb(240, 233, 222);
  font-family: verdana;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 30px;
}
section {
  background-color: rgb(240, 233, 222);
  font-family: verdana;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 30px;
}
header {
  background-color: #ffffe1;
  font-family: verdana;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  line-height: 2;
  color: #660033;
}
aside {
  background-color: rgb(241, 233, 222);
  font-family: verdana;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 30px;
}
h1 {
  text-align: center;
  font-size: 30px;
  line-height: 0px;
  margin-bottom: 12px;
  margin-top: 0px;
  padding: 20px;
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
}
h2 {
  font-size: 25px;
  line-height: 0;
  margin-bottom:0;
  text-align: left;
  margin-left: 20px;
  padding: 20px;
}

h3 {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom:3px;
  text-align: left;
  color: #660033;
  margin-top: 0px;
  padding: 20px;
}

h4 {
  font-size: 20px;
 line-height: 1,5;
  margin-bottom: -20px;
  text-align: left;
  color: black;
  margin-top: -20px;
  padding: 20px;
}
h5 {
  font-size: 16px;
  line-height: 1,5;
  margin-bottom: -30px;
  text-align: left;
  color: black;
  margin-top: -30px;
  padding: 20px;
}
h6 {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0px;
  text-align: left;
  color: #660033;
  margin-top: 0px;
  padding: 20px;
}

p {
  color: black;
  text-align: left;
  margin-top: -40px;
  margin-bottom: -40px;
}
: marker {
  color: #660033;
  font-size: 0px;
}
ul { 
margin-top:5px; 
margin-bottom:0px; 
}
.Z3988 {
  display: none;
}

